  <head>
   <title><%= title %></title>
  <link rel="stylesheet" id="print-css" href="css/jquery-ui/jquery-ui-1.10.2.custom.min.css" type="text/css">
  <link rel="stylesheet" id="wjimo" href="css/jquery-ui/jquery.wijmo-open.3.20131.6.css" type="text/css">
  <link rel="stylesheet" id="wjimo" href="css/jquery-ui/jquery.wijmo-pro.all.3.20131.6.min.css" type="text/css">

  <script type="text/javascript" src="javascripts/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery/ui/jquery-ui-1.10.2.custom.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery/jquery.wijmo-open.all.3.20131.6.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery/jquery.wijmo-pro.all.3.20131.6.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery/jquery.cookies.js"></script>
  <script type="text/javascript" src="javascripts/utils/dateutils.js"></script>
  <script type="text/javascript" src="javascripts/utils/string-utils.js"></script>
  <script type="text/javascript" src="javascripts/bitcoin.js"></script>

  <script type="text/javascript" src="javascripts/datetime-plugin/WdatePicker.js"></script>
  <style>
body {
  font-family: 微软雅黑;
  font-size:12px
}
</style>
  </head>